[workspace]
name = "brads-forge"
version = "0.1.0"
description = "Brads personal conda forge, filled will rattler builds."
authors = ["Brad Jones <brad@bjc.id.au>"]
channels = ["https://repo.prefix.dev/brads-forge", "conda-forge"]
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]

[tasks.code]
cmd = "code ."

[tasks.zed]
cmd = "zed ."

[dependencies]
deno = ">=2.6.0,<2.7"
dprint = ">=0.50.2,<0.51"
rattler-build = ">=0.54.0,<0.55"
